.detail_page_wrap {
    max-width: 1024px;
    padding: 0 12px;
    margin: 0 auto;
    box-sizing: border-box;
    .video_area_wrap {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        .video_area {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    .movie_info_area {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        .movie_info_detail {
            .info_box {
                position: relative;
                padding-left: 16px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 2px;
                    border-radius: 5px;
                    background: rgb(229, 9, 20);
                }
            }
            .info {
                margin-bottom: 2px;
                font-size: 16px;
                line-height: 20px;
            }
            .badge {
                display: inline-block;
                background: #666;
                margin-left: 4px;
            }
        }
        .movie_info_thumb {
            flex: 0 0 auto;
            width: 88px;
            height: 132px;
            border-radius: 8px;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .modal_area {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
        .btn_modal {
            &:hover {
                background: #222;
                border: 1px solid rgb(229, 9, 20);
                color: rgb(229, 9, 20);
            }
        }
    }
    
    .middle_title {
        margin-bottom: 16px;
    }

    .review_area {
        margin-top: 20px;
    }
    .recommendation_area {
        margin: 30px 0 100px;
        
    }
}

