.banner_wrap {
    position: relative;
    height: 56vh;
    min-height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to top, black, transparent);
    }
}

.banner_content {
    position: relative;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.banner_text_area {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    max-width: 500px;
    > p {
        margin-bottom: 0;
    }
}