.movie_page_wrap {
    max-width: 1024px !important;
    margin: 0 auto;
    .container {
        max-width: 100% !important;
    }
    .pagination {
        justify-content: center;
        margin-top: 20px;
        .active {
            .page-link {
                border: 1px solid rgba(299, 9, 20, 1);
                background: rgba(299, 9, 20, 1);
                color: rgba(255, 255, 255, 1);
            }    
        }
        .page-link {
            color: rgba(0, 0, 0, 0.8);
        }
    }
    .filter_menu_wrap {
        justify-content: flex-end;
        padding: 0 10px;
        margin: 10px 0;
        .dropdown_menu {
            width: auto;
            .dropdown-toggle {
                background: rgb(229, 9, 20);
                border: 1px solid rgb(229, 9, 20);;
            }
        }
    }
}

@media screen and (max-width: 991px) {

}