.movie_card {
    position: relative;
    height: 0;
    padding-top: calc((431/287) * 100%);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        transform: scale(1.2) translateZ(20px);
        z-index: 2;
    }

    .overlay {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;  
        right: 0;
        padding: 20px 10px;
        background: rgba(43, 41, 41, 0.9);
        opacity: 0;
        transition: all 1s;
        color: #fff;
        font-weight: 700;
        overflow-wrap: break-word;
        &:hover {
            opacity: 1;
        }

        .movie_title {
            margin-top: auto;
            font-weight: 700;
            font-size: 16px;
        }
        .badge_area {
            margin: 0 0 0 -4px;
            .badge {
                margin-left: 4px;
            }
        }
        .info_area {
            font-size: 12px;
        }
    }

    
}